.ab-btn {
    background-color: #EB9B00;
    padding: 16px 24px;
    color: #FFF;
    font-size: 20px;
    line-height: 30px;
    border: none;
    cursor: pointer;
}
.ab-btn:hover {
    color: #002F52;
}